form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
    gap: 10px;
    text-align: center;
}
table{
    display: flex;
    width: 45vw;
    margin: 20px auto;
    gap: 15px;
    text-align: center;
}
table tr {
    display: flex; /* Faz as linhas se ajustarem aos elementos internos */
    justify-content: space-between; /* Distribui igualmente o espaço entre as células */
}

table tr td {
    flex: 1; /* Permite que as células se ajustem proporcionalmente */
    text-align: center; /* Centraliza o texto */
}

button{
    display: block;
    margin: 20px auto;
    width: 160px;
    height: 40px;
    border-radius: 30px;
    background-color: blue;
    color: aliceblue;
    line-height: 40px;
    border: none;
}
a.links{
    display:block;
    height: 30px; 
    width: 100px;
    background-color: blue;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    color:white;
    line-height: 27px;
    margin: 0 auto;
}
a#editar{
    background-color: green;
}
a#excluir{
    background-color: rgb(196, 11, 11);
}
a#cancelar{
    background-color: rgb(196, 11, 11);
}

a{
    margin: 0 auto;
    height: 40px;
    width: 150px;
    background-color: green;
    color: aliceblue;
    line-height: 40px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
}
